{:source-paths ["src/main"
                "src/test"]
 :dependencies [[orchestra "2019.02.06-1"]
                [expound "0.8.4"]]
 :builds       {:test {:target    :node-test
                       :output-to "target/node-tests.js"
                       :autorun   true
                       :repl-pprint  true}
                :app {:target    :node-script
                      :output-to "mastodon-bot.js"
                      :main      mastodon-bot.core/main}}}
